.main {
  display: flex;
  flex-direction: column;

  &__section {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__item {
    list-style-type: none;
    text-decoration: none;
  }
}
